<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v1.0</title>
    <link rel="stylesheet" href="../letter_css/style.css">
</head>

<body>

    <div class="page">

        <table class="table table-borderless table-sm" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <img id="logo" src="">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div id="address">
                            13-21 High Street
                            Guildford
                            Surrey
                            GU1 3DG
                            Tel: 01483 456 231
                            www.amgltd.co.uk
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="text-end">
            Date: [Todays Date]
        </p>

        <table class="table border-bottom">
            <tbody>
                <tr>
                    <td colspan="4" style="text-align: center;" class="bg-amg-1">
                        <strong>
                            MEMORANDUM OF SALE
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td>[Client Name]</td>
                    <th>Cc: </th>
                    <td>[Conveyancing Sols Name]</td>
                </tr>
                <tr>
                    <th>AMG Ref:</th>
                    <td>[AMG Ref]</td>
                    <th>Client Ref:</th>
                    <td>[Client Ref]</td>
                </tr>
                <tr>
                    <th>Customer:</th>
                    <td>[Borrower] [/Borrower 2]</td>
                    <th>From:</th>
                    <td>[AMG Contact]</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <table class="table" style="white-space: pre-line;">
            <tbody>
                <tr class="align-top">
                    <td width="50%"> <strong>PROPERTY ADDRESS</strong>
                        [Addr 1]
                        [Addr 2]
                        [Addr 3]
                        [Town]
                        [County]
                        [Postcode]
                    </td>
                    <td><strong>ESTATE AGENTS</strong>
                        [Offer Estate Agents Name]
                        [Offer Estate Agents A1]
                        [Offer Estate Agents A2]
                        [Offer Estate Agents A3]
                        [Offer Estate Agents A4]
                        [Offer Estate Agents A5]
                        [Offer Estate Agents A6]

                        Contact: [Offer Estate Agents Contact]
                        Tel: [Offer Estate Agents Tel]
                        
                    </td>
                </tr>
                <tr class="align-top">
                    <td> <strong>PURCHASER</strong>
                        [Purchaser Name]
                        [Purchaser Address]
                        Status: [Applicant Status]
                        [Lending Source]
                        [% / Total]
                    </td>
                    <td> <strong>PURCHASERS SOLICITOR</strong>
                        [Purchaser Sols Name]
                        [Purchaser Sols Address]

                        Contact: [Purchaser Sols Contact]
                        Tel: [Purchaser Sols Tel]
                        Email: [Purchaser Sols Email]
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

        <table class="table table-sm">
            <tbody>
                <tr>
                    <td width="50%"><strong>SALE PRICE:</strong> £[Current Sale Amount]</td>
                    <td class="text-danger fw-bold">[Days] DAY EXCHANGE</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>
                        <strong>Comments:</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        AMG are acting on behalf of the vendor in the assisted sale of this property under agreement with their mortgage lender. 

                        The commission due to the estate agent will be paid by AMG.  The fee payable to AMG on completion is 1.5% + VAT of the sale price and is to be settled by the vendor’s solicitor.
                    </td>
                </tr>
                <tr>
                    <td>[MOSNOTES]</td>
                </tr>
            </tbody>
        </table>

       

    </div>

</body>

</html>