<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v1.0</title>
    <link rel="stylesheet" href="../letter_css/style.css">
</head>

<body>

    <div class="page">

        <table class="table table-sm">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <img id="logo" src="">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div id="address">
                            13-21 High Street
                            Guildford
                            Surrey
                            GU1 3DG
                            Tel: 01483 456 231
                            www.amgltd.co.uk
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="text-end">
            Date: [Todays Date]
        </p>

        <table class="table">
            <tbody>
                <tr>
                    <td colspan="4" class="bg-amg-1">
                        <strong>
                            QUOTE REQUEST
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th width="25%">To:</th>
                    <td width="25%">[Quote Contractor]</td>
                    <th width="25%">AMG Ref:</th>
                    <td width="25%">[AMG Ref]</td>
                </tr>
                <tr>
                    <th width="25%">Client Ref:</th>
                    <td width="25%">[Client Ref]</td>
                    <th width="25%">Account No.:</td>
                    <td width="25%">[Client Ref] ([Account Ref])</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <table class="table table-sm">
            <tbody>
                <tr>
                    <td width="50%">
                        <strong>PROPERTY ADDRESS</strong> <br>
                        [Addr 1] <br>
                        [Addr 2] <br>
                        [Addr 3] <br>
                        [Town] <br>
                        [County] <br>
                        [Postcode] <br>
                    </td>
                    <td width="50%">
                        <strong>KEYHOLDING ESTATE AGENT</strong> <br>
                        [Keyholder Estate Agents Name] <br>
                        [Keyholder Estate Agents Address] <br>
                        [Keyholder Estate Agents Town] <br>
                        [Keyholder Estate Agents County] <br>
                        [Keyholder Estate Agents Postcode] <br>
                        [Keyholder Estate Agents Tel] <br>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

        <p style="white-space: pre-line;">
            <strong>PLEASE PROVIDE US WITH A QUOTE FOR THE FOLLOWING:</strong>

            [Description]

            <strong> PLEASE CONFIRM RECEIPT OF THIS INSTRUCTION & ADVISE WHEN THE QUOTE IS TO BE EXPECTED.</strong>

            Thank you for your assistance.

            [User Name]
            THE ASSET MANAGEMENT GROUP
        </p>


    </div>

</body>

</html>