<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v1.0</title>
    <link rel="stylesheet" href="../letter_css/style.css">
</head>

<body>

    <div class="page">

        <table class="table table-sm" style="margin: 0;">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <img id="logo" src="">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div id="address">
                            13-21 High Street
                            Guildford
                            Surrey
                            GU1 3DG
                            Tel: 01483 456 231
                            www.amgltd.co.uk
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <tbody>
                <tr>
                    <td colspan="4" class="bg-amg-1">
                        <strong>
                            DUE DILIGENCE
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th width="15%">Date:</th>
                    <td width="35%">[Todays Date]</td>
                    
                    <th width="15%">AMG Ref:</th>
                    <td width="35%">[AMG Ref]</td>
                </tr>
                <tr>
                    <th width="15%">Re:</th>
                    <td width="85%" colspan="3">[Addr 1, Addr 2, Addr 3, Town, County, Postcode]</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <p style="white-space: pre-line;">
            Dear Sirs,

            Following on from the recent changes to the Money Laundering Regulations 2017, customer due diligence must be carried out on every purchaser to establish and verify their identity.
            
            Although AMG do not deal with the purchaser of a property directly, we also need to demonstrate that we have adequate internal controls and monitoring systems in place to comply with this legislation.
            
            It is your responsibility to carry out due diligence on all purchasers. A copy of the AMG Due Diligence Certificate must be completed on <strong>all</strong> purchasers and returned to AMG to be retained on their records.
            
            Selling agents failing to return this certificate will be putting AMG at risk of non-compliance with the regulations and future instructions may be affected.
            
            Failure to comply with the legislation, regulations and guidance designed to prevent money laundering or terrorist financing has serious implications and could result in reputational damage, regulatory censure, financial costs, and/or imprisonment.
            
            Thank you for your assistance.

            Yours faithfully
            [User Name]
            THE ASSET MANAGEMENT GROUP
        </p>

   
    <div class="page-break"></div>

        <table class="table table-sm">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <img src="../letter_css/letterhead_logo.png" alt="AMG" height="40px" width="80px">
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <tbody>
                <tr>
                    <td colspan="4" class="bg-amg-1">
                        <strong>
                            DUE DILIGENCE CERTIFICATE
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="text-center fw-bold font-size-8">
            Please complete ALL sections of this certificate
        </p>

        <hr>

        <table class="table font-size-8">
            <tbody>
                <tr>
                    <th>Re:</th>
                    <td>[Addr 1, Addr 2, Addr 3, Town, County, Postcode]</td>
                    <th>AMG Ref:</th>
                    <td>[AMG Ref]</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <p class="fw-bold text-danger text-center font-size-8">
            A separate certificate is required for each party connected with the purchase of the property.
        </p>

        <table class="table border font-size-8" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td width="50%" style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);">
                        Full name of purchaser being verified (or a director of company if purchasing in company name):
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td width="50%" style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);">
                        Company name:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td width="50%" style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);"">
                        Date of birth (of party being verified – must verify a director if purchasing in company name):
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);"">
                        
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="border-right: 1px solid var(--amg-grey);">
                        Usual address of party being verified (residential for individuals, business principal address for others):
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>

    
        <p class="font-size-8">
            <strong>I/We certify that the above person has been verified having:</strong>
            <ul class="font-size-8">
                <li>Met the individual being verified in person</li>
                <li>Seen the current (in date) original identification document for the person being verified</li>
                <li>Seen the original (in date) proof of address document provided for the person being verified</li>
                <li>Checked that any photographic identity documents are a good likeness to the individual being verified</li>
                <li>Checked that any documents requiring a signature have been pre-signed</li>
            </ul>

        </p>

        <p class="font-size-8">
            <strong>STATEMENT</strong>
            <ul class="font-size-8">
                <li>
                    I/we consent to Asset Management Group Limited relying upon this certificate for the purposes of Regulation 38(1)(a) of the Money Laundering Regulations 2017. 
                </li>
                <li>
                    I/we will retain copies of the customer due diligence information for five years from the date the reliance was agreed.
                </li>
            </ul>

        </p>

        <table class="table border font-size-8" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td width="50%" style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);">
                        Full name of business providing this certificate:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid var(--amg-grey);border-right: 1px solid var(--amg-grey);">Business address:</td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid var(--amg-grey);">
                        Company registration number:
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <p class="font-size-8">
            Signature of the person giving this certificate who has met the person being verified and who has seen the original documentary evidence being relied upon:
        </p>

        <table class="table font-size-8">
            <tbody>
                <tr>
                    <th width="10%">Signature:</th>
                    <td width="30%" style="border: 1px dotted black;"></td>
                    <th width="10%">&nbsp;&nbsp;Date:</th>
                    <td width="20%" style="border: 1px dotted black;"></td>
                </tr>
            </tbody>
        </table>

        <table class="table border font-size-8" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <td width="50%" style="border-bottom: 1px solid var(--amg-grey); border-right: 1px solid var(--amg-grey);">
                        Full Name of signatory:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid var(--amg-grey);border-right: 1px solid var(--amg-grey);">
                        Position of signatory:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid var(--amg-grey);border-right: 1px solid var(--amg-grey);">
                        Email address of signatory:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid var(--amg-grey);">
                        Contact telephone number of signatory:
                    </td>
                    <td style="border-bottom: 1px solid var(--amg-grey);">

                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

</body>

</html>