<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v1.0</title>
    <link rel="stylesheet" href="../letter_css/style.css">

    <style>
        a:hover {
            text-decoration: underline;
            color: #45997F;
        }

        li {
            margin: 10px 0;
        }
    </style>
</head>

<body>

    <div class="page">

        <h3 class="text-start fw-bold">
            Click to view HTML templates
        </h3>
        <br>

        <ul style="font-size: 12pt !important;">
            <li>
                <a href="AMG_Outstanding_Paperwork_Standard.html">Outstanding Paperwork</a>
            </li>
            <hr>
            <li>
                <a href="AMG_MOS_Standard.html">Memorandum of Sale - AMG Standard</a>
            </li>
            <li>
                <a href="AMG_MOS_Standard_Scotland.html">Memorandum of Sale - AMG Standard Scottish</a>
            </li>
            <li>
                <a href="AMG_MOS_AVS_Payment_Disclaimer.html">Memorandum of Sale - AVS Payment Disclaimer</a>
            </li>
            <li>
                <a href="AMG_MOS_Church.html">Memorandum of Sale - Church</a>
            </li>
            <li>
                <a href="AMG_MOS_LBG.html">Memorandum of Sale - LBG</a>
            </li>
            <li>
                <a href="AMG_MOS_LBS.html">Memorandum of Sale - LBS</a>
            </li>
            <li>
                <a href="AMG_MOS_Nationwide.html">Memorandum of Sale - Nationwide</a>
            </li>

            <li>
                <a href="AMG_MOS_YBS.html">Memorandum of Sale - YBS</a>
            </li>
            <li>
                <a href="AMG_MOS_YBS_Scotland.html">Memorandum of Sale - YBS Scotland</a>
            </li>
            <hr>
            <li>
                <a href="AMG_Quote_Request_Standard.html">Quote Request to Contractor</a>
            </li>
            <hr>
            <li>
                <a href="AMG_Report_on_Title_Standard.html">Report on Title</a>
            </li>
            <hr>
            <li>
                <a href="AMG_Contractor_Instruction_Standard.html">Contractor Instruction</a>
            </li>
        </ul>

    </div>

</body>

</html>