/* Style settings for A4 page */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #eee;
}

* {
  /* Include the content box as well as padding and border for precise definitions */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  background: #fff;
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
  outline: 0;
  padding-left: 2cm;
  padding-top: 2cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
}

@page {
  size: A4 portrait;

  /* Margin per single side of the page */
  margin-left: 2cm;
  margin-top: 2cm;
  margin-right: 2cm;
  margin-bottom: 2cm;

}

/* Class for manual page breaks via inserted .page-break element */
div.page-break {
  page-break-after: always;
}

h1 {
  /* Force page breaks after */
  page-break-before: always;
}

/* For all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Avoid page breaks immediately */
  page-break-after: avoid;
}

/* For links in the document */
a {
  text-decoration: none;
  color: black;
}

@page {
  orphans: 4;
  widows: 2;
}

/* When the document is actually printed */
@media print {

  html,
  body {
    /* Reset the document's background color */
    background-color: #fff;
  }

  .page {
    /* Reset all page styles that have been for better screen appearance only */
    /* Break cascading by using the !important rule */
    width: initial !important;
    min-height: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    box-shadow: initial !important;

  }

}

:root {
  --amg-blue: #0E2E47;
  --amg-grey: #dee2e6;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-color: none !important;
}

.table th {
  text-align: left;
}

.table-sm>:not(caption)>*>* {
  padding: .25rem .25rem
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0px;
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  border-bottom-width: 0px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f2f2f2;

}

.bg-amg-1 {
  background-color: #0E2E47 !important;
  border-bottom: solid 2px #45997F !important;
  color: whitesmoke;
  text-align: center;
}

#logo {
  content: url('letterhead_logo.png');
  width: 120px;
  height: 60px;
}

#address {
  color: #999999;
  margin-bottom: 35px;
  font-size: 9pt;
}

.align-top {
  vertical-align: top;
}

.align-bottom {
  vertical-align: bottom !important
}

.border {
  border: 1px solid var(--amg-grey);
}

.fw-bold {
  font-weight: bold;
}

.text-danger {
  color: #dc3545 !important
}

.font-size-7 {
  font-size: 7pt;
}

.font-size-8 {
  font-size: 8pt;
}

.font-size-9 {
  font-size: 9pt;
}

.footer {
  position: relative;
  bottom: 20px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: rgb(189, 189, 189);
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

hr:not([size]) {
  height: 1px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25
}

@media print {
  #pageHeader {
    position: fixed;
    top: 0;
  }

  #pageFooter {
    position: fixed;
    left: 40%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    color: rgb(189, 189, 189);
  }

}